# Alura - Streamlit - Dashboard de Vendas

Autor: Leonardo Simões

In [1]:
import pandas as pd
import requests as rq

In [2]:
URL = 'https://labdados.com/produtos'

In [3]:
response = rq.get(URL)
df = pd.DataFrame.from_dict(response.json())
df.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Modelagem preditiva,livros,92.45,5.609697,01/01/2020,Thiago Silva,BA,1,cartao_credito,3,-13.29,-41.71
1,Iniciando em programação,livros,43.84,0.000000,01/01/2020,Mariana Ferreira,SP,5,cartao_credito,1,-22.19,-48.79
2,Pandeiro,instrumentos musicais,87.18,2.226512,01/01/2020,Thiago Silva,RJ,4,cartao_credito,4,-22.25,-42.66
3,Corda de pular,esporte e lazer,13.65,1.257926,01/01/2020,Camila Ribeiro,RJ,4,boleto,1,-22.25,-42.66
4,Dinossauro Rex,brinquedos,28.32,2.039059,01/01/2020,Juliana Costa,RJ,1,cartao_debito,1,-22.25,-42.66

In [4]:
df.shape

(9435, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9435 entries, 0 to 9434
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 9435 non-null   object
 1   Categoria do Produto    9435 non-null   object
 2   Preço                   9435 non-null   float64
 3   Frete                   9435 non-null   float64
 4   Data da Compra          9435 non-null   object
 5   Vendedor                9435 non-null   object
 6   Local da compra         9435 non-null   object
 7   Avaliação da compra     9435 non-null   int64
 8   Tipo de pagamento       9435 non-null   object
 9   Quantidade de parcelas  9435 non-null   int64
 10  lat                     9435 non-null   float64
 11  lon                     9435 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 884.7+ KB

In [6]:
df.describe()

,Preço,Frete,Avaliação da compra,Quantidade de parcelas,lat,lon
count,9435.000000,9435.000000,9435.000000,9435.000000,9435.000000,9435.000000
mean,622.309570,33.167002,4.014520,2.927398,-20.534059,-47.171176
std,787.094508,41.973711,1.390518,2.802776,5.399153,4.177887
min,10.070000,0.000000,1.000000,1.000000,-30.170000,-70.550000
25%,73.610000,4.009423,3.000000,1.000000,-22.250000,-48.790000
50%,295.350000,15.648481,5.000000,1.000000,-22.190000,-48.790000
75%,884.405000,46.591030,5.000000,4.000000,-18.100000,-44.380000
max,3969.380000,216.707633,5.000000,24.000000,1.990000,-36.590000

In [7]:
assert df.isna().sum().sum() == 0

In [8]:
assert df.duplicated().sum() == 0

In [9]:
df['Local da compra'].nunique()

27

In [10]:
regioes_por_estado = {
    'Norte': ['AM', 'RR', 'AP', 'PA', 'TO', 'RO', 'AC'],
    'Nordeste': ['MA', 'PI', 'CE', 'RN', 'PB', 'PE', 'AL', 'SE', 'BA'],
    'Centro-Oeste': ['MT', 'MS', 'GO', 'DF'],
    'Sudeste': ['SP', 'RJ', 'MG', 'ES'],
    'Sul': ['PR', 'SC', 'RS']
}

In [11]:
def obter_regiao(estado):
    for regiao, estados in regioes_por_estado.items():
        if estado in estados:
            return regiao
    return 'Desconhecida'

In [12]:
df['Região'] = df['Local da compra'].apply(obter_regiao)

In [13]:
assert 'Região' in df.columns.values
assert df['Região'].nunique() == 5

In [14]:
df['Data da Compra'] = pd.to_datetime(df['Data da Compra'], format='%d/%m/%Y')
df['Data da Compra'].head()

0   2020-01-01
1   2020-01-01
2   2020-01-01
3   2020-01-01
4   2020-01-01
Name: Data da Compra, dtype: datetime64[ns]

In [15]:
assert df['Data da Compra'].dtype.str != '|O'

In [16]:
df['Ano'] = df['Data da Compra'].dt.year

In [17]:
assert 'Ano' in df.columns.values

In [18]:
df['Mês'] = df['Data da Compra'].dt.month

In [19]:
assert 'Mês' in df.columns.values

In [20]:
df.to_csv('../Dados/dados.csv', index=False)

## Referências
https://www.alura.com.br/conteudo/streamlit-construindo-dashboard-interativo